node_modules/
*/**/node_modules/
.idea/
.DS_Store
.vscode

dist/
*/**/dist/
build/
*/**/build/
data/
*/**/data/
logs/
*/**/logs/
*/**/*.log

docker/

.env*
*/**/.env
*/**/.env*
!.env.example
!*/**/.env.example
yarn-error.log
*/**/yarn-error.log

*/**/coverage/
.nyc_output/
